* {
    font-family: arial, sans-serif;
    color: #545454;
}
html,
body {
    margin: 0;
    height: 100%;
}
.textGradient {
    margin-top: 10px;
    text-align: center;
 
    background: linear-gradient(to right, #66d9ff 20%, #8c66ff 40%, #8c66ff 60%, #66d9ff 80%);
    background-size: 200% auto;
 
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 
    animation: shine 1s linear infinite;
}
 
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.wrapper.indexPage {
    justify-content: center;
}
.mainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainSection .searchContainer {
    margin-top: 20px;
    width: 100%;
}
.mainSection .searchContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.searchContainer .searchButton {
    color: #757575;
    background-color: #f5f5f5;
    border: none;
    height: 36px;
    width: 125px;
    border-radius: 1px;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
}
.mainSection .searchContainer .searchBox {
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    height: 44px;
    border-radius: 2px;
    outline: none;
    padding: 50p00000000000000000000000000000000000000000000000000000000000000000000000000000x;
    box-sizing: border-box;
    font-size: 16px;
    width: 70%;
    max-width: 630px;
    color: #000;
}